/* Style the tab */
.jdtab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.jdtab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 15px;
}

/* Change background color of buttons on hover */
.jdtab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.jdtab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.jdtabcontent {
    display: none;
    padding: 1px 1px;
    border: 1px solid #ccc;
    border-top: none;
    height: 200px;
}


.jdimgcontainer {
    position: relative;
    width: 100%;
    background-color: white;
}

/*.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}*/

.jdmiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  width: fit-content;
}

.jdimgcontainer:hover .image {
  opacity: 0.3;
}

.jdimgcontainer:hover .jdmiddle {
  opacity: 1;
}

.jdimgtext {
  background-color: #eb4800;
  color: white;
  font-size: 14px;
  padding: 16px 32px;
  margin: 5px;
  /*width: 100%;*/
}